<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bold.Licensing" version="2.4.26" targetFramework="net461" />
  <package id="ClosedXML" version="0.95.4" targetFramework="net461" />
  <package id="ClosedXML.Report" version="0.2.1" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net461" />
  <package id="ExcelNumberFormat" version="1.0.10" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net461" />
  <package id="morelinq" version="2.9.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net461" />
  <package id="Syncfusion.Chart.WPF.Classic" version="18.3.0.35" targetFramework="net461" />
  <package id="Syncfusion.Compression.Base" version="18.3.0.35" targetFramework="net461" />
  <package id="Syncfusion.DocIO.Wpf" version="18.3.0.35" targetFramework="net461" />
  <package id="Syncfusion.Gauge.WPF" version="18.3.0.35" targetFramework="net461" />
  <package id="Syncfusion.Grid.WPF" version="18.3.0.35" targetFramework="net461" />
  <package id="Syncfusion.GridCommon.Wpf" version="18.3.0.35" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="18.3.0.35" targetFramework="net461" />
  <package id="Syncfusion.Linq.Base" version="18.3.0.35" targetFramework="net461" />
  <package id="Syncfusion.OfficeChart.Base" version="18.3.0.35" targetFramework="net461" />
  <package id="Syncfusion.Pdf.Wpf" version="18.3.0.35" targetFramework="net461" />
  <package id="Syncfusion.Presentation.Wpf" version="18.3.0.35" targetFramework="net461" />
  <package id="Syncfusion.SfMaps.WPF" version="18.3.0.35" targetFramework="net461" />
  <package id="Syncfusion.Shared.WPF" version="18.3.0.35" targetFramework="net461" />
  <package id="Syncfusion.XlsIO.Wpf" version="18.3.0.35" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net461" />
  <package id="System.Linq.Dynamic.Core" version="1.1.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>